

/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Roboto';
}

.BG {
  background-color: #121726;
}	

a {
	text-decoration: underline;
	color: #55ffa9;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
}

 #wrapper {
    width: 100%;
   /* background:#202020;*/
   background: #121726;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#181e2e;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
.copyright {
	border-top: none;
	padding: 20px 0 15px;
	text-align: center;
}

.copyright p {
	color: #ffffff;
	margin-bottom: 0;
	font-family: Roboto;
  	font-size: 14px;
}
.demo-text {
  width: 639px;
  height: 83px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  color: #ffffff;
}
.demo-sub-text {
  width: 537px;
  height: 68px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  display: inline-block;
  color: #ffffff;
}
.demo-bullets{
  width: 544.1px;
  height: 156px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  color: #ffffff;
}
ul {
  list-style: none; /* Remove default bullets */
}


.image-sliderfade  
{ 
  display: none; 
} 
  
img  
{ 
  vertical-align: middle; 
} 
  
/* Slideshow container */
.container  
{
  margin-top: 50px;
  width: 560px;
  height: 360.5px;
  box-shadow: 0 0 25px 0 #444e70;
} 
  
/* Caption text */
  
/* The dots/bullets/indicators */
.dot  
{ 
  height: 10px; 
  width: 10px; 
  margin: 0 2px; 
  background-color: transparent; 
  border-color:#55ffa9;  
  border-width: 3 px; 
  border-style: solid; 
  border-radius: 50%; 
  display: inline-block; 
  transition: border-color 0.6s ease; 
} 
  
.active  
{ 
  border-color: #666; 
} 
  
/* Animation */
.fade  
{ 
  -webkit-animation-name: fade-image; 
  -webkit-animation-duration: 1.5s; 
  animation-name: fade-image; 
  animation-duration: 1.5s; 
} 
  
@-webkit-keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
@keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
.userbox {
  width: 250px;
  height: 48px;
  background-color: #202639;
  font-color: #ffffff;
}

.Forgot-Username-For {
  width: 282px;
  height: 18px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.Path-2 {
  width: 2px;
  height: 32px;
  border: 1 solid #333c59;
  color: ##333c59;
}
.learn-text {
  margin-top: 50px;
  width: 493px;
  height: 25px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  display: inline-block;
  color: #ffffff;
}

.modal-open .modal, .btn:focus {
    outline: none !important;
}
 
.modal.dark { background-color: #2d3032; }
.modal.dark .modal-body {
  background: #40464b;
}
 
.modal.dark .modal-header {
  background: #2d3032;
  border-bottom: 1px solid #2a2c2e;
}
.modal.dark .modal-header h1, .modal.dark .modal-header h2, .modal.dark .modal-header h3, .modal.dark .modal-header h4 {
  color: #ccc;
}
 
.modal.dark .modal-footer {
  background: #2d3032;
  border-top: 1px solid #2a2c2e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
cursor:pointer;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #239a62; 
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#ceaa2f!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	/*background:#202020;*/
	background:#121726;
	text-shadow:none;
	font-size:16px;
	
	
}
.sidebar-collapse > .nav > li > a {
	padding:20px 10px 20px 25px;
}
.sidebar-collapse > .nav > li {
	border-bottom: none;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#175f3d; 
	outline:0;
	font-weight: bold;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	/*background-color: #202020;*/
	background-color: #121726;
	
}
.navbar-cls-top {
	/*background:#4D4D4D;*/
	background:#121726;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#121726;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    /*background: #A70303;*/
	background: #239a62;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #121726;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #121726;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    BREADCRUMB STYLES     
    =============================================*/
ul.breadcrumb {
    padding: 1px 2px;
    list-style: none;
    background-color: #fff;
    max-height: 18px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 200px;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
    
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 200px
    }
    
    .navbar-sideminify {
        z-index: 1;
        position: absolute;
        width: 60px
    }

   .navbar {
 border-radius: 0px; 
}

	.minifyme{
		width: 200px;
		border:0
	}
	
	.minifyme:hover{
		background: #E56586;
		color:#E1E8F3;
	}
	
	Reserve-Ledger {
  height: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

}

/*
 * DataTables framework
 */
div.dataTables_wrapper {
	background-color: #5be2ff; 
	//#719ba7;
}

div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table.pretty {
	width: 100%;
	clear: both;
}

table.pretty td,
table.pretty th {
	padding: 5px;
	border: 1px solid #333c59;
}

/* Header cells */
table.pretty thead th {
	text-align: center;
	background: #66a9bd;
}

/* Body cells */
table.pretty tbody th {
	text-align: left;
	background: #91c5d4;
}
	
table.pretty tbody td {
	text-align: center;
	background: #d5eaf0;
	color: #000000;
	font-family: Roboto;
  	font-size: 11px;
}
		
table.pretty tbody tr.odd td { 
	background: #bcd9e1;
}

/* Footer cells */	
table.pretty tfoot th {
	background: #b0cc7f;
	text-align: left;
}
	
table.pretty tfoot td {
	background: #d7e1c5;
	text-align: center;
	font-weight: bold;
}


/*
 * Pagination
 */
a.paginate_button,
a.paginate_active {
	display: inline-block;
	background-color: #608995;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
	border: 1px solid black;
}

a.paginate_button_disabled {
	color: #3d6672;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}


/*
 * Sorting
 */
table.pretty thead th.sorting_asc {
	background: #66A9BD url('../../img/sort_asc.png') no-repeat right center;
}

table.pretty thead th.sorting_desc {
	background: #66A9BD url('../../img/sort_desc.png') no-repeat right center;
}

table.pretty thead th.sorting {
	background: #66A9BD url('../../img/sort_both.png') no-repeat right center;
}

   
}


